<div class="section">
  <div class="hero-unit">

    <div class="content-container">
      <div class="content-row">
        <div class="hero-banner">

          <h1 class="big-slogan" data-sr="enter from the top and hustle 50px over 1.5s"><%= t('home.hero_unit.slogan_html') %></h1>
          <h3 class="small-slogan" data-sr="enter bottom wait 1s"><%= t('home.hero_unit.subslogan_html') %></h3>

          <div class="call-to-action">
            <%= render 'home/hero/new_project_form' %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
