//
// "Hero unit" styles
// --------------------------------------------------

$hero-height: 453px;
$hero-banner-offset-top: 160px;
$hero-banner-offset-bottom: 50px;
$hero-banner-height: $hero-height - $hero-banner-offset-top - $hero-banner-offset-bottom;

$hero-height-sm: 253px;
$hero-banner-offset-top-sm: 60px;
$hero-banner-offset-bottom-sm: 20px;
$hero-banner-height-sm: $hero-height-sm - $hero-banner-offset-top-sm - $hero-banner-offset-bottom-sm;

$call-to-action-font-size: 16px;
$call-to-action-font-size-small: 13px;

.hero-unit {
  @extend .text-center;
  background-size: cover;
  background-position: center center;
  @include make-sm-column(12, 0);

  @media (min-width: $screen-sm-min) {
    height: $hero-height;
    background-image: url("/images/bg.jpg");
  }

  @media (max-width: $screen-xs-max) {
    height: $hero-height-sm;
    background-image: url("/images/bg-small.jpg");
  }
}

.hero-banner {
  top: $hero-banner-offset-top;
  height: $hero-banner-height;
  padding-top: 10px;
  background-color: rgba(235, 235, 235, 0.80);
  border-radius: $border-radius-large;
  @include make-xs-column(10);
  @include make-xs-column-offset(1);

  @media (max-width: $screen-xs-max) {
    padding-top: 0;
    top: $hero-banner-offset-top-sm;
    height: $hero-banner-height-sm;
    // specify a min-width so the hero-banner box doesn't shrink too small on tiny screen sizes
    min-width: 270px;
    border-radius: $border-radius-base;
  }
}

.big-slogan {
  font-size: 40px;
  font-weight: 400;

  @media (max-width: $screen-xs-max) {
    font-size: 25px;
  }
}

.small-slogan {
  font-size: 25px;
  font-weight: 400;

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
  }
}

.call-to-action {
  margin-top: 20px;

  a {
    font-size: $call-to-action-font-size;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 10px;

    a {
      font-size: $call-to-action-font-size-small;
    }
  }
}

.call-to-action-btn {
  @extend .btn;
  @include button-variant($btn-action-color, $btn-action-bg, $btn-action-border);
  @extend .roffset3;
  // call mixin for .btn-lg style
  @include button-size($padding-small-vertical, $padding-small-horizontal, $call-to-action-font-size, $line-height-small, $border-radius-small);
  // increase width
  width: 160px;

  // CSS transition effect from http://bootstrapbay.com/blog/css-transitions-buttons/
  transition: all 0.6s ease 0.5s;

  &:hover {
    background: #fd6703;
  }

  @media (max-width: $screen-sm-max) {
    // increase width
    width: 160px;
  }

  @media (max-width: $screen-xs-max) {
    // call mixin for .btn-sm style
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    // increase width
    width: 120px;
  }
}
