//
// Theme styles
// --------------------------------------------------

// Override header font weight from 300 to 400; note: only on tag h1/h2/h3, not on class .h1/.h2/.h3; so, if you
// want the original font weight then specify a CSS class h1/h2/h3
h1, h2, h3 {
  font-weight: 400;
}

// Button paddings - based on settings in Bootswatch Yeti theme

//.btn {
//  padding: 14px 28px;
//}

.btn {
  //padding: 8px 12px;
  //padding: 8px 16px;
  padding: 8px 18px;
}
//.btn-primary {
//  background-color: #008cba;
//  border-color: #0079a1;
//  color: #ffffff;
//}

.btn-lg {
  //padding: 16px 32px;
  padding: 16px 20px;
}

.btn-sm {
  //padding: 8px 16px;
  padding: 8px 12px;
}

.btn-xs {
  //padding: 4px 8px;
  padding: 4px 6px;
}

.btn-more {
  @extend .btn;
  @extend .btn-success;
  padding: 8px 38px;
}

// override progress bar styling from Yeti to use rounded corners
.progress {
  overflow: hidden;
  height: $line-height-computed;
  margin-bottom: $line-height-computed;
  background-color: $progress-bg;
  border-radius: $border-radius-progress;   //$border-radius-base;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
}

// Customize tooltips, see: http://www.jeffmould.com/2013/10/30/style-bootstrap-3-0-tooltips/
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}
.tooltip-inner {
  color: #000;
  background: #fff4b3;
  border: solid 1px #fff4b3;
}

// Copied from yeti/_bootswatch.scss

// Tables =====================================================================

table {
  font-size: $font-size-small;
}
