<%# 'region' is for ARIA see: https://dequeuniversity.com/assets/html/jquery-summit/html5/slides/landmarks.html %>
<div class="content-row-smaller" role="region">

  <div class="container-relative">
    <h3 class="text-center"><%= t('home.selected_projects.title') %></h3>

    <%# hide the 'more' button on smaller devices because there is not enough room %>
    <div class="container-align-right hidden-sm hidden-xs">
      <a class="btn-more" href="<%= projects_url %>">
        <%= t('home.selected_projects.more_button') %> &nbsp;<i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <%= render 'projects/projects_grid' %>

</div>