<% page_title("The Crowdfunding Network") %>

<% content_for :wide_content do %>

    <%# 'main' is for ARIA see: https://dequeuniversity.com/assets/html/jquery-summit/html5/slides/landmarks.html %>
    <div class="container-fluid" role="main" id="content" tabindex="-1">
      <%= render 'home/hero/hero_unit' %>

      <div class="container">
        <%= render 'selected_projects' %>
      </div>
    </div>

<% end %>

<% content_for :additional_scripts do %>
    <%= javascript_include_tag 'scrollReveal.min' %>

    <script type="text/javascript">
        (function ($) {
            'use strict';
            window.sr = new scrollReveal({
                reset: true,
                move: '50px',
                mobile: true
            });
        })();
    </script>
<% end %>