<%# 'region' is for ARIA see: https://dequeuniversity.com/assets/html/jquery-summit/html5/slides/landmarks.html %>
<div class="content-container" role="region">
  <div class="content-row content-row-smaller">
    <div class="content-col">

      <% @selected_projects.each_slice(4) do |row| %>
          <div class="row">

            <% row.each do |project| %>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="center-block">
                    <%= render partial: 'projects/block', locals: {project: project} %>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>