<% page_title(t("pages.projects.title")) %>

<% content_for :wide_content do %>

    <div class="container push-down">
      <%= render 'search_projects_form' %>
      <%= render 'selected_projects' %>
    </div>

<% end %>