//
// Some utility styles
// --------------------------------------------------

// utility styles with "!important"

.text-primary,
.text-primary:hover {
  color: $brand-primary !important;
}

.text-secondary,
.text-secondary:hover {
  color: $brand-secondary !important;
}

.text-disabled,
.text-disabled:hover {
  color: $brand-disabled !important;
}

.text-inverse,
.text-inverse:hover {
  color: $brand-inverse !important;
}

.bg-primary {
  background-color: $brand-primary !important;
}

.bg-secondary {
  background-color: $brand-secondary !important;
}

/* centered columns styles */
/*.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}*/
