<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
<br/>

<p>
  Thank you,<br/><br/>
  Yourself<br/>
  <%= link_to "Your URL", "#" %>
</p>
