<div class="form-group">
  <%= f.label column, class: "control-label" %>
  <div class="row">
    <div class="<%= options[:wrapper_class] %>">
      <%= render partial: control, locals: {f: f, column: column, options: options} %>
    </div>
  </div>
</div>
